# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
venv/

# Ignore contents but keep the folders
data/images/*
!data/images/.gitkeep

data/index/*
!data/index/.gitkeep

data/thumbs/*
!data/thumbs/.gitkeep

# Streamlit cache
.streamlit/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db